.examTitle{
    text-align: center;
    margin-top: 20px;
}

.examRemainingTime{
    text-align: center;
    margin-top: 10px;
}

.examContent{
    margin-left: 10%;
    margin-right: 10%;
}

.add{
    font-size: 15px;
    margin-top: 30px;
  }

  .star{
      color: #f46e65;
  }

  .examContentMain{
      margin-top: 35px;
  }

  .examQuestion{
      margin-top: 20px;
      font-size: 20px;
  }

  .examSelectAnswer{
    margin-top: 20px;
  }

  .examOptions{
      font-size: 16px;
      margin-bottom: 15px;
      margin-left: 0;
  }

  .btngrp{
    margin-top: 20px;
  }